::-webkit-scrollbar {
  z-index: 1000;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 6%);
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 8%);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: rgb(0 0 0 / 12%);
  border-radius: 3px;
  box-shadow: inset 0 0 10px rgb(0 0 0 / 20%);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0 0 0 / 24%);
  cursor: pointer;
}

body {
  --custom-window-back-color: rgba(255, 255, 255, 1);
  --custom-box-back-color: rgba(0, 0, 0, 0.3);
  --custom-box-back-hover-color: rgba(0, 0, 0, 0.8);
  --custom-border-radius-mini: 2px;
  --custom-border-radius: 5px;
  --custom-border-radius-middle: 10px;
  --custom-border-radius-big: 15px;
  --custom-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  --custom-box-shadow-min: 0 0 5px rgba(0, 0, 0, 0.4);
  --custom-border-color: rgba(0, 0, 0, 0.2);
}

// dark theme
body[theme='dark'] {
  --custom-window-back-color: rgba(0, 0, 0, 1);
  --custom-box-back-color: rgba(255, 255, 255, 0.8);
  --custom-box-back-hover-color: rgba(255, 255, 255, 0.6);
  --custom-border-radius-mini: 2px;
  --custom-border-radius: 5px;
  --custom-border-radius-middle: 10px;
  --custom-border-radius-big: 15px;
  --custom-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  --custom-border-color: rgba(255, 255, 255, 0.2);
}
